[color]
	branch = auto
	status = auto
	diff = auto
	ui = auto
[user]
	name = Dave Goerlich\n
  email = dgoerlich@designinginteractive.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
	default = matching
